.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 80px;
}

.innerContainer {
  width: 706px;
  text-align: center;
}

.innerContainer > h4 {
  font-family: Lato;
  font-size: 39.06px;
  font-weight: 900;
  line-height: 48px;
  text-align: center;
  margin-bottom: 4rem;
}

.innerContainer > div:nth-child(2) > label {
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  margin-bottom: 24px;
}

.innerContainer > div:nth-child(2) > span > input {
  width: 50%;
  margin: auto;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 48px auto;
}

.buttonContainer > button {
  max-width: 180px;
}

.privacyPolicy > a {
  font-family: Lato;
  font-size: 12.8px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  color: var(--buttonBlackBg);
}
